@import "reset.css";
@import "dataTable.css";
@import "ui_custom.css";
@import "fullcalendar.css";
@import "icons.css";
@import "elfinder.css";
@import "wysiwyg.css";
@import "prettyPhoto.css";

html { height: 100%; }
* html body { height: 100%; }
body { margin: 0; padding: 0; background: url(../images/bodyBg.jpg) repeat; font-size: 12px; color: #d5d5d5; font-family: Arial, Helvetica, sans-serif; line-height: 20px; min-height: 100%; position: relative; }

.logo{
    opacity: 0.5;
}


/* =================================
   =====  New styles for v2.0  =====
   ================================= */

/* ===== Placeholder colors  ===== */

::-webkit-input-placeholder { color: #686868; }
:-moz-placeholder { color: #686868; }


/* ===== Required fields error and field notes styling  ===== */

label.error { color: #939393; font-size: 11px; display: block; width: 100%; white-space: nowrap; float: none; margin: 8px 0 -8px 0; padding: 0!important; }
.selector .error { margin-right: -220px; float: right; }
.checker label.error, .radio label.error { display: inline; margin: 0; }
.req { margin-left: 5px; color: #DB6464; }

.formNote { display: block; text-align: left; font-size: 11px; padding-top: 5px; color: #939393; margin-bottom: -8px; }


/* ===== Limit box for textareas  ===== */

.limiterBox { border: 1px solid #1E2226; background: #25292B; padding: 4px 6px; font-size: 11px; margin-top: 2px; }


/* ===== Tags input  ===== */

div.tagsinput { border: 1px solid #1E2226; background: #25292B; padding: 5px; width: 100%; overflow-y: auto; -moz-box-shadow: 0 1px 0 #363B3E; -webkit-box-shadow: 0 1px 0 #363B3E; box-shadow: 0 1px 0 #363B3E; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; } 
div.tagsinput span.tag { border: 1px solid #a5d24a; display: block; float: left; padding: 3px 8px 2px 8px; background: #cde69c; color: #638421; margin: 5px 5px 5px 5px; }
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; font-size: 11px; float: right; margin-top: -1px; } 
div.tagsinput input { width: 80px; border: none; padding: 5px; background: transparent; margin: 5px 5px 0 0; color: #eee!important; }
div.tagsinput div { display: block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid { background: #FBD8DB !important; color: #90111A !important;}




/* =================================
   =====  General styles =====
   ================================= */

.wrapper { margin: 0 5%; clear: both; }
.img { border: 1px solid #d5d5d5; }


/* ==========  Typo  ========== */

h1, h2, h3, h4, h5, h6, ul.tabs li a, .leftNav ul li a, .stats ul li span, .userLink, .errorPage p, .ui-dialog .ui-dialog-title { font-family: 'Cuprum', sans-serif; font-weight: normal; }
h1, h2, h3, h4, h5, h6 { color: #fafafa; }
h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

blockquote { border : 1px solid #272C30; margin-top: 40px; padding: 15px 10px; quotes: "\201C" "\201D"; background: url(../images/widgetBg.png) repeat; text-align: center; font-style: italic; font-size: 12px; border-left: 4px solid #272C30; }
blockquote:before { content: open-quote; font-weight: bold; }
blockquote:after { content: close-quote; font-weight: bold; }

.red { color: #e0a5a5; }
.green { color: #72c66f; }

p { padding: 12px 0 0 0; }
.p12 { padding: 12px; }
.pt12 { padding-top: 12px; }

.legendLabel span { display: block; margin: 0 5px; }
.legendColorBox { padding-left: 10px; }

.w40 { width: 40%; position: relative; }



/* ==========  Additional reset classes  ========== */

.mt40 { margin-top: 40px; }
.nomargin { margin: 0!important; }
.nopadding { padding: 0!important; }
.noborder { border: none!important; }
.nobg { background: none!important; }
.floatleft { display: block; float: left; }
.floatright { display: block; float: right; }
.aligncenter { text-align: center; }
.fix { clear: both; }
.first { margin-top: 25px!important; }
.inactive { margin-top: 0px; color: #2B6893; }
.displayNone { display: none; }

select { overflow: auto; }
.bordLeft { border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; }
.bordRight { border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; }


/* ==========  Login page  ========== */

.loginPanel { width: 320px; background: url(../images/widgetBg.png) repeat; border: 1px solid #2A2E34; border-top: 0; display: block; /*height: 222px; */
box-shadow:inset 0 0 2px #272b2c; 
-moz-box-shadow:inset 0 0 2px #272b2c; 
-webkit-box-shadow: inset 0 0 2px #272b2c;

-moz-box-shadow: 0 1px 0 #4b4e50; 
-webkit-box-shadow: 0 1px 0 #4b4e50; 
box-shadow: 0 1px 0 #4b4e50; 
}

.createPanel { width: 700px; background: url(../images/widgetBg.png) repeat; border: 1px solid #2A2E34; border-top: 0; display: block; /*height: 222px; */
    box-shadow:inset 0 0 2px #272b2c;
    -moz-box-shadow:inset 0 0 2px #272b2c;
    -webkit-box-shadow: inset 0 0 2px #272b2c;

    -moz-box-shadow: 0 1px 0 #4b4e50;
    -webkit-box-shadow: 0 1px 0 #4b4e50;
    box-shadow: 0 1px 0 #4b4e50;
}
.loginWrapper { margin: -106px 0 0 -160px; position: absolute; top: 50%; left: 50%; }
.createWrapper { margin: -106px 0 0 -160px; position: absolute; top: 20px; left: 50%; }
.loginLogo { position: absolute; width: 190px; height: 44px; display: block; top: -80px; left: 50%; margin-left: -95px; } 
.loginPanel h5 { font-weight: normal; padding: 9px 12px 9px 35px; float: left; }
.createPanel h5 { font-weight: normal; padding: 9px 12px 9px 35px; float: left; }


.loginPanel label { width: 60px; }
.createPanel label { width: 60px; }
.rememberMe { margin-left: 12px; }
.rememberMe label { padding: 4px 12px!important; width: auto; } 
.loginInput { width: 196px; float: left; }
.loginRow { border-top: 1px solid #363B3E;
padding: 16px 0;
position: relative;
border-bottom: 1px solid #24272B; }
.loginRow:first-child {  }
.loginRow:last-child { border-bottom: none; }

.backTo a:hover { background: #212121; }
.backTo span { padding: 8px 14px 8px 8px; display: block; float: left; }
.backTo img { margin: 13px 2px 11px 14px; float: left; display: block; }
.backTo a { float: left; color: #eeeeee; font-size: 11px; border-right: 1px solid #2F2F2F; border-left: 1px solid #2F2F2F; }


/* ==========  Buttons ========== */

input[type=submit], input[type=reset], input[type=button], button, .button { font-size: 10px; font-weight: bold; text-transform: uppercase; padding: 7px 14px 7px 14px; cursor: pointer; font-family: Arial, Helvetica, sans-serif; line-height: 12px; border: 1px solid #292d2f; -moz-box-shadow: 0 0 2px #545454; color: #fff;
-webkit-box-shadow: 0 0 2px #545454; 
box-shadow: 0 0 2px #545454; 
}

.basicBtn {  background: url(../images/ui/basicBtn.png) repeat-x 0 0; }
.basicBtn:hover { background-position: 0 -27px;  }
.basicBtn:active { background-position: 0 -54px; }

.blueBtn { background: #3c87b6 url(../images/ui/blueBtn.png) repeat-x 0 0; }
.blueBtn:hover { background-position: 0 -27px; }
.blueBtn:active { background-position: 0 -54px; }

.redBtn { background: url(../images/ui/redBtn.png) repeat-x 0 0; }
.redBtn:hover { background-position: 0 -27px; }
.redBtn:active { background-position: 0 -54px; }

.seaBtn { background: url(../images/ui/seaBtn.png) repeat-x 0 0; }
.seaBtn:hover { background-position: 0 -27px; }
.seaBtn:active { background-position: 0 -54px; }

.blackBtn { background: url(../images/ui/blackBtn.png) repeat-x 0 0; }
.blackBtn:hover { background-position: 0 -27px; }
.blackBtn:active { background-position: 0 -54px; }

.greyishBtn { background: url(../images/ui/greyishBtn.png) repeat-x 0 0; }
.greyishBtn:hover { background-position: 0 -27px; }
.greyishBtn:active { background-position: 0 -54px; }

.greenBtn { background: url(../images/ui/greenBtn.png) repeat-x 0 0; }
.greenBtn:hover { background-position: 0 -27px; }
.greenBtn:active { background-position: 0 -54px; }


.btn14 { border: 1px solid #24272B; background: url(../images/titleBg.png) repeat-x 0 0; padding: 6px 8px; display: inline-block; -moz-box-shadow: 0 1px 0 #363B3E;  -webkit-box-shadow: 0 1px 0 #363B3E; box-shadow: 0 1px 0 #363B3E; }
.btn14:hover { background-position: 0 -39px; }
.btn14:active { background: #557a8e; }

.btn55 { background: #3b5867 url(../images/middlebg.png) repeat-x 0 0; border: 1px solid #292D2F; padding: 7px 6px 0px 6px; display: inline-block; -moz-box-shadow: 0 1px 0 #363B3E; -webkit-box-shadow: 0 1px 0 #363B3E; box-shadow: 0 1px 0 #363B3E; }
.btn55:hover { background-position: 0 -56px; }
.btn55:active { background-position: 0 -112px; }
.btn55 span { display: block; padding: 5px 5px 0 5px; color: #eaeaea; }

.btnIconLeft { border: 1px solid #292D2F; background: url(../images/titleBg.png) repeat-x 0 0; display: inline-block; color: #fafafa;  }
.btnIconLeft:hover { background-position: 0 -39px; }
.btnIconLeft:active { background: #557a8e; }
.btnIconLeft .icon { float: left; border-right: 1px solid #292D2F; padding: 8px; }
.btnIconLeft span { display: block; float: left; padding: 5px 10px; font-weight: bold; }



/* ========== Pagination ========== */

.pagination { margin: auto; width: auto; text-align: center; margin-top: 40px; }
.pages {  }
.pages li.prev { margin-right: 15px; }
.pages li.next { margin-left: 15px; }
.pages li { display: inline; margin: 0 2px; }
.pages li a { height: 25px; padding: 4px 8px; text-decoration: none; color: #d5d5d5; font-weight: bold; background: url(../images/darkerBg.png) repeat-x 0 0; border: 1px solid #292D2F; font-size: 11px; 
-moz-box-shadow: 0 0 2px #545454;
-webkit-box-shadow: 0 0 2px #545454; 
box-shadow: 0 0 2px #545454;}
.pages li a:hover { background: url(../images/darkBg.png) repeat; }
.pages li .active { background: url(../images/titleBg.png) repeat-x 0 0; color: #fff; border-color: #292d2f; }
.pages li .active:hover { background: url(../images/titleBg.png) repeat-x 0 -39px; }


/* ==========  Numbers notifications  ========== */

.numberTop, .numberMiddle, .numberLeft { text-align: center; display: inline-block; padding: 1px 5px; color: #fff; float: right; margin: 10px 15px 10px -5px; font-size: 11px; line-height: 14px;
-moz-border-radius: 3px; 
-webkit-border-radius: 3px; 
-khtml-border-radius: 3px; 
border-radius: 3px;  
}
.numberTop, .numberMiddle { margin: 9px 15px 8px -5px; padding: 1px 5px!important; background: url(../images/numberTop.png) repeat-x; border: 1px solid #573535; 
-moz-box-shadow: inset 0 0 1px #e14040; 
box-shadow:inset 0 0 1px #e14040; 
-moz-box-shadow:inset 0 0 1px #e14040; 
}
.numberMiddle { margin: 0; position: absolute; top: -7px; right: -7px; font-size: 11px; background: url(../images/numberTop.png) repeat-x; }
.numberLeft { margin: 0; position: absolute; top: 12px; right: 8px; font-size: 11px; font-family: Arial, Helvetica, sans-serif; float: none; background: url(../images/number.png) repeat-x!important; padding: 2px 6px!important;
-moz-box-shadow: 0 1px 0 #4f565a; 
-webkit-box-shadow: 0 1px 0 #4f565a; 
box-shadow: 0 1px 0 #4f565a; 
}


/* ===== Top navigation ===== */

#topNav { height: 36px; display: block; }
.fixed { position: fixed; background: url(../images/topNav.jpg) repeat; width: 100%; color: #eeeeee; border-bottom: 1px solid #4a4f51; z-index: 999; }

.welcome { float: left; }
.welcome img { float: left; margin: 8px 8px 8px 0 }
.welcome span { padding: 8px 5px; display: block; white-space: nowrap; float: left; font-size: 11px; }

.userNav { float: right; z-index: 6000; position: relative; font-size: 11px; }
.userNav .lastNav { width: 2px; height: 36px; background: url(../images/navSep.png) repeat-y; position: absolute; top: 0; right: 0; }
.userNav ul { margin-right: 2px; }
.userNav ul li { display: inline; float: left; position: relative; cursor: pointer; border-right: 1px solid #2f2f2f; }
.userNav ul li:first-child { border-left: 1px solid #2f2f2f; }
.userNav ul li a { color: #eeeeee; text-decoration: none; display: block; float: left; }
.userNav ul li:hover, .selected { background: #212121; }
.userNav ul li span { display: block; padding: 8px 12px 8px 8px; float: left; }
.userNav ul li img { float: left; display: block; margin: 13px 2px 11px 14px; }

.userNav ul li ul { position: absolute; left: -1px; display: none; top: 35px; margin-top: 0px; background: #2f2f2f; padding: 0 1px 1px 1px; border: 1px solid #1d1d1d; z-index: 100; }
.userNav ul li ul li { display: block; float: none; border-top: 1px solid #2f2f2f; background: #212121; border-right: none; border-bottom: 1px solid #141414; }
.userNav ul li ul li:first-child { border-left: none!important; }
.userNav ul li ul li a { width: 100px; padding: 6px 10px 7px 36px; font-size: 11px; text-transform: none; color: #c5c5c5; font-weight: normal; background-color: none; float: none; }
.userNav ul li ul li a:hover { background-color: none; font-weight: normal; color: #a4a4a4; }
.userNav ul li ul li:hover { background: #1d1d1d!important; }

.sAdd { background: url(../images/icons/topnav/subAdd.png) no-repeat 15px 13px; }
.sInbox { background: url(../images/icons/topnav/subInbox.png) no-repeat 14px 12px; }
.sOutbox { background: url(../images/icons/topnav/subOutbox.png) no-repeat 14px 11px; }
.sTrash { background: url(../images/icons/topnav/subTrash.png) no-repeat 14px 12px; }



/* ===== Header ===== */

#header { height: 106px; clear: both; }
.logo { float: left; margin-top: 30px; }

.middleNav { float: right; margin-right: 1px; }
.middleNav ul { margin-top: 25px; }
.middleNav ul li { height: 55px;  text-align: center; display: block; float: left; margin-left: 25px; position: relative; }
.middleNav ul li a { display: block; background: url(../images/middlebg.png) repeat-x 0 0; color: #595858; font-size: 12px; position: relative; -moz-box-shadow: 0 1px 0 #474c4f; -webkit-box-shadow: 0 1px 0 #474c4f; box-shadow: 0 1px 0 #474c4f; border: 1px solid #292d2f; color: #eaeaea; }
.middleNav ul li a span { display: block; padding: 33px 10px 1px 10px; }

.middleNav ul li.iMes a span { background: url(../images/icons/middlenav/dialog.png) no-repeat 50% 8px; }
.middleNav ul li.iStat a span { background: url(../images/icons/middlenav/graph.png) no-repeat 50% 8px; }
.middleNav ul li.iUser a span { background: url(../images/icons/middlenav/users.png) no-repeat 50% 8px; }
.middleNav ul li.iOrders a span { background: url(../images/icons/middlenav/money.png) no-repeat 50% 8px; }

.middleNav ul li a:hover { background-position: 0 -56px; }
.middleNav ul li a:active { background-position: 0 -112px; }


/* ===== Left navigation ===== */

.leftNav { width: 212px; max-width: 36%; margin-top: -1px; float: left; margin-bottom: 80px; margin-right: 41px; }
.leftNav .last { border-bottom: none; }

.leftNav ul li { position: relative; }
.leftNav ul li a { color: #fafafa; font-size: 15px; display: block; background: url(../images/titleBg.png) repeat-x 0 0; border: 1px solid #2e3234; margin-top: 1px; }
.leftNav ul li a:hover { background-position: 0 -39px; color: #fafafa; border: 1px solid #252a31; }
.leftNav ul li a.active { background-position: 0 -78px; }
.leftNav ul li a span { padding: 9px 0 9px 35px; display: block; }


/* Left navigation icons */

.leftNav ul li.dash a span { background-image: url(../images/icons/dark/download.png) }
.leftNav ul li.graphs span { background-image: url(../images/icons/dark/graph.png) }
.leftNav ul li.forms a span { background-image: url(../images/icons/dark/pencil.png) }
.leftNav ul li.gallery a span { background-image: url(../images/icons/dark/preview.png) }
.leftNav ul li.typo span { background-image: url(../images/icons/dark/create.png) }
.leftNav ul li.tables a span { background-image: url(../images/icons/dark/frames.png) }
.leftNav ul li.cal a span { background-image: url(../images/icons/dark/dayCalendar.png) }
.leftNav ul li.errors a span { background-image: url(../images/icons/dark/alert.png) }
.leftNav ul li.files a span { background-image: url(../images/icons/dark/files.png) }
.leftNav ul li.login a span { background-image: url(../images/icons/dark/user.png) }
.leftNav ul li.pic a span { background-image: url(../images/icons/dark/blocks.png) }
.leftNav ul li.widgets a span { background-image: url(../images/icons/dark/full.png) }
.leftNav ul li.contacts a span { background-image: url(../images/icons/dark/users.png) }

.leftNav ul li a span { background-position: 10px; background-repeat: no-repeat; }



/* Left navigation subnav */

ul.sub { border: 1px solid #272c30; border-top: none; background: url(../images/widgetBg.png) repeat; }
ul.sub li { border-bottom: 1px dotted #24272B; padding: 1px; }
ul.sub li a { background: url(../images/arrow.gif) no-repeat 8px 16px; border: none; font-family: Arial, Helvetica, sans-serif; color: #494949; font-size: 11px; padding: 8px 10px 8px 18px; color: #d5d5d5; }
ul.sub li a:hover, .sub li a:active { font-style: normal; border: none; color: #676767; background: url(../images/arrow.gif) no-repeat 8px 16px; }

ul.sub li ul { border: none; border-top: 1px solid #c9c9c9; }
ul.sub li ul li { padding-left: 10px; }



/* ===== Statistics ===== */

.stats { margin-top: 25px; }
.stats ul {  }
.stats ul li { display: block; float: left; margin-left: 5%; vertical-align: top; width: 21.2%; }
.stats ul li:first-child { margin: 0; }
.stats ul li span { font-size: 16px; display: block; vertical-align: middle; white-space: normal; }
.count { font-size: 26px; height: 40px; display: inline-block; float: left; line-height: 41px; padding: 0 10px; -moz-box-shadow: 0 1px 0 #474c4f; -webkit-box-shadow: 0 1px 0 #474c4f; box-shadow: 0 1px 0 #474c4f; margin-right: 10px; border: 1px solid #292d2f; color: #fafafa; }

.stats a.orange { background: url(../images/count/orange.png) repeat-x; }
.stats a.orange:hover { background-position: 0 -42px; }
.stats a.orange:active { background-position: 0 -84px; }

.stats a.grey { background: url(../images/count/grey.png) repeat-x; }
.stats a.grey:hover { background-position: 0 -42px; }
.stats a.grey:active { background-position: 0 -84px; }

.stats a.green { background: url(../images/count/green.png) repeat-x; }
.stats a.green:hover { background-position: 0 -42px; }
.stats a.green:active { background-position: 0 -84px; }

.stats a.red { background: url(../images/count/red.png) repeat-x; }
.stats a.red:hover { background-position: 0 -42px; }
.stats a.red:active { background-position: 0 -84px; }


/* ===== Right side content ===== */

.fc-button-prev .fc-button-content { width: 10px; background: url(../images/leftArrow.png) no-repeat 15px 13px; }
.fc-button-next .fc-button-content { width: 10px; background: url(../images/rightArrow.png) no-repeat 15px 13px; }



/* ===== Right side content ===== */

.widget { margin-top: 40px; border: 1px solid #272c30; display: block; background: url(../images/widgetBg.png) repeat; clear: both; border-top: none; }

.widget, ul.sub {
box-shadow:inset 0 0 2px #272b2c; 
-moz-box-shadow:inset 0 0 2px #272b2c; 
-webkit-box-shadow: inset 0 0 2px #272b2c;

-moz-box-shadow: 0 1px 0 #4b4e50; 
-webkit-box-shadow: 0 1px 0 #4b4e50; 
box-shadow: 0 1px 0 #4b4e50; 
}

.head { background: url(../images/titleBg.png) repeat-x; height: 38px; border-top: 1px solid #24272b; border-bottom: 1px solid #24272b; position: relative; color: #fafafa; }
.head, ul.tabs {
border-top-left-radius: 3px;
border-top-right-radius: 3px;

-moz-border-radius-topright: 3px;
-moz-border-radius-topleft: 3px;

-webkit-border-top-right-radius: 3px;
-webkit-border-top-left-radius: 3px;
}

.widget .head h5, .table h5 { font-weight: normal; padding: 8px 12px 9px 35px; float: left; } 
.widget .body { padding: 12px 14px; }
.widget .normal h5, .accordion-close h5 { background: url(../images/aNormal.png) no-repeat 15px 15px; padding: 9px 12px 9px 32px!important }
.widget .inactive h5, .accordion-open h5 { background: url(../images/aInactive.png) no-repeat 12px 17px; padding: 9px 12px 9px 32px!important; color: #abb3ba; }

.widget .num { float: right; display: inline-block; text-align: center; margin: 9px 9px 0 0; font-size: 11px; }
.widget .num span { margin-right: 10px; }
.widget .num a { background: url(../images/ui/numDataBg.png) repeat-x; height: 21px; padding: 3px 5px; color: #fff; border: 1px solid #373b3e; }

.widget .num a.blueNum { background-position: 0 0; }
.widget .num a.blueNum:hover { background-position: 0 -21px; }
.widget .num a.blueNum:active { background-position: 0 -42px; }

.widget .num a.redNum { background-position: 0 -63px; }
.widget .num a.redNum:hover { background-position: 0 -84px; }
.widget .num a.redNum:active { background-position: 0 -105px; }

.widget .num a.greenNum { background-position: 0 -126px; }
.widget .num a.greenNum:hover { background-position: 0 -147px; }
.widget .num a.greenNum:active { background-position: 0 -168px; }

.widget .loader { float: right; margin: 14px 12px 0 0; }

.userLink { font-size: 16px; padding-top: 3px; display: block; margin-left: 25px; white-space: nowrap; }
.userWidget { padding: 6px 12px 0 12px; display: block; float: left; }


/* ==========  Classes for collapsing  ========== */

.normal, .inactive { cursor: pointer; }
.normal, .accordion-close { border-bottom: none; }

.standalone { float: left; width: 300px; margin-left: 40px; }
.standalone:first-child { margin-left: 0; }



/* ===== Gallery ===== */

.pics { padding-bottom: 14px; margin: auto; padding: 0 6px 14px 6px; text-align: center; }
.pics ul li { display: inline-block; height: 102px; margin: 16px 6px 0 6px; border: 1px solid #1E2226; position: relative;  
-moz-box-shadow: 0 1px 0 #363B3E; 
-webkit-box-shadow: 0 1px 0 #363B3E; 
box-shadow: 0 1px 0 #363B3E;}
.pics ul li:hover { border-color: #1d2125; }
.pics .actions { background: #000; opacity: 0.8; position: absolute; bottom: 0; right: 0; display: none; }
.pics .actions a { color: #fff; font-size: 11px; display: block; padding: 3px 4px; float: left; }
.pics .actions a:first-child { padding-right: 0; }



/* ===== Tabs ===== */

ul.tabs { background: url(../images/titleBg.png) repeat-x; height: 38px; border-bottom: 1px solid #24272b; border-top: 1px solid #24272b; }
ul.tabs li { float: left; height: 38px; line-height: 38px; border-left: none; overflow: hidden; position: relative; font-size: 15px; border-right: 1px solid #2a2e34; }
ul.tabs li a { text-decoration: none; display: block; padding: 0px 12px; outline: none; color: #fafafa; }
ul.tabs li a:hover { color: #d5d5d5; }
html ul.tabs li.activeTab  { background: url(../images/widgetBg.png) repeat; height: 39px; }
html ul.tabs li.activeTab a { color: #d5d5d5; } 

.tab_container { overflow: hidden; clear: both; float: left; width: 100%; }
.tab_content { padding: 10px 12px; }


.tabsRight { position: relative; }
.tabsRight ul.tabs { float: right; height: 38px; position: absolute; top: 0; right: 0; }
.tabsRight ul.tabs li { border-right: none; border-left: 1px solid #2A2E34; height: 38px; }
.tabsRight ul.tabs li.activeTab  { background: url(../images/widgetBg.png) repeat; height: 38px; }

/* ===== Widgets ===== */

.twoOne { width: 50%; }
.widget, .content .title, .count, .widget .num a, a.count1, .table, .breadCrumb, .earnings, .leftNav ul li a, .listData .cNote, .pages li a, .errorPage, .btn14, .btn55, .loginPanel, .createPanel, .customfile, ul.sub, .middleNav ul li a, .searchWidget input[type=text], .nNote { -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }

.widgets { clear: both; }
.widgets .left { float: left; width: 48%; margin-right: 4%; }
.widgets .right { float: right; width: 48%; }

.content { padding-bottom: 80px; overflow: hidden; }
.content .title { background: url(../images/pageTitleBg.png) repeat-x; height: 36px; -moz-box-shadow: 0 1px 0 #4c5154; -webkit-box-shadow: 0 1px 0 #4c5154; box-shadow: 0 1px 0 #4c5154; }
.content .title h5 { float: left; color: #fafafa; font-weight: normal; display: block; padding: 7px 15px; }


/* Support ticket and Latest orders */
.supTicket { background: url(../images/linesSep.png) 0 0 repeat-x; padding: 12px 12px 15px 12px; }
.supTicket .issueType { color: #8f97a2; clear: both; font-weight: bold; background: url(../images/dashed.png) repeat-x 0; }
.supTicket .issueType .issueInfo { float: left; display: block; background: url(../images/widgetBg.png) repeat; padding-right: 5px; }
.supTicket .issueType .issueNum { float: right; display: block; background: url(../images/widgetBg.png) repeat; padding-left: 5px; padding-right: 1px; }

.issueSummary { clear: both; padding-top: 14px; }
.issueSummary img { border: 1px solid #d5d5d5; }

.ticketInfo ul { float: left; width: 100%; margin-bottom: -6px; }
.ticketInfo ul li { width: 50%; margin-top: -2px; display: inline-block; float: left; margin-bottom: 6px; padding: 0; }
.ticketInfo ul li.even { text-align: right; }
.ticketInfo { margin-top: -3px; margin-bottom: -11px; margin-left: 50px; }


/* User */
.userSummary { background: url(../images/linesSep.png) 0 100% repeat-x; }
.userSummary ul {  }
.userSummary ul li { width: 127px; display: block; float: left; margin-bottom: 12px; margin-top: -1px; }
.userSummary ul li.even { text-align: right; }

.userSummary .infoLeft { width: 153px; float: left; }
.userSummary .infoLeft div, .userSummary .infoRight div { padding-top: 12px; }
.userSummary .infoLeft div:first-child, .userSummary .infoRight div:first-child { padding: 0; }

.userSummary .infoRight { width: 153px; float: right; text-align: right; }

.userAlt { padding: 0 12px; background: url(../images/leftNavBg.png) repeat-x; }
.userAlt img { float: left; display: block; margin: 4px 8px 0 0; }
.userEmail {  display: block; white-space: nowrap; }
.botRow span { float: left; display: block; margin-right: 10px; }

#eq span { height: 120px; float: left; margin-right: 30px; display: block; }

/* Search */
.searchWidget { position: relative; margin-top: 40px; }
.searchWidget input[type=text] { background: #25292B; border: 1px solid #1E2226; padding: 10px; width: 100%; color: #d5d5d5; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
box-shadow:inset 0 0 2px #272b2c; 
-moz-box-shadow:inset 0 0 2px #272b2c; 
-webkit-box-shadow: inset 0 0 2px #272b2c;

-moz-box-shadow: 0 1px 0 #363B3E; 
-webkit-box-shadow: 0 1px 0 #363B3E; 
box-shadow: 0 1px 0 #363B3E;

}
.searchWidget input[type=submit] { background: url(../images/searchBtn.png) no-repeat 0 0; position: absolute; top: 0; right: 0; border: none; width: 36px; height: 36px; box-shadow: none; }

/* Website stats */
.webStatsLink { font-size: 16px; color: #d5d5d5; font-weight: bold; }
.statPlus, .statMinus {   padding-left: 12px; font-size: 12px;  }
.statPlus { color: #72c66f; background: url(../images/topArrow.png) no-repeat 0 3px; }
.statMinus { color: #e0a5a5; background: url(../images/botArrow.png) no-repeat 0 3px; }

/* Accordion */
.menu_body { display: none; padding: 12px 14px; color: #d5d5d5; }
.acc .head { margin-bottom: -1px; cursor: pointer; }
.acc .head h5 { padding: 9px 14px; }
.acc .head h5:hover { color: #ABB3BA; }




/* ===== Flot ===== */

.chart, .autoUpdate, .bars { height: 220px; z-index: 90; margin: 10px 0 0 0; max-width: 100%; }
.pieWidget { width: 100%; height: 316px; margin: 0 auto; }




/* ===== Footer ===== */

#footer { clear: both; /*height: 36px;*/ background: url(../images/topNav.jpg) repeat; width: 100%; color: #eeeeee; margin-top: 42px; position: absolute; bottom: 0; }
#footer span { color: #696969; padding: 9px 5px; display: block; font-size: 11px; }
#footer span a { color: #eeeeee; }



/* ===== Table ===== */

.tableStatic thead td { padding: 3px 0 2px 0; text-align: center; border-left: 1px solid #3B4144; background: #efefef url(../images/darkerBg.png) repeat; border-bottom: 1px solid #3B4144; font-size: 11px; color: #54585d; }
.tableStatic thead td:first-child { border-left: none; }

.tableStatic tbody tr { border-top: 1px solid #3B4144; }
.tableStatic tbody tr:nth-child(even) { background: url(../images/darkerBg.png) repeat; }

.tableStatic tbody td { border-left: 1px solid #343a3d; padding: 8px 10px; vertical-align: middle; }
.tableStatic tbody td:first-child { border-left: none; }



/* ===== Forms ===== */

.mainForm label { margin-right: 15px; display: block; float:left; padding: 3px 12px; }

.datepicker { width: 58px!important; cursor: pointer; }
.colorpick { width: 58px!important; float: left; cursor: pointer; }
.pick { width: 16px; height: 16px; float: left; background: url(../images/color.png) no-repeat 0; margin: 2px 5px; cursor: pointer; padding: 4px 0!important; }
.colorP { position: relative; width: 58px; }

.multiple { width: 100%; height: 200px; padding: 5px; border: 1px solid #1E2226; background: url(../images/darkerBg.png) repeat; color: #d5d5d5; -moz-box-shadow: 0 1px 0 #363B3E; -webkit-box-shadow: 0 1px 0 #363B3E; box-shadow: 0 1px 0 #363B3E; }
option[selected], option[focus] { background: #404b51 }


.sliderSpecs label { padding: 0!important; font-size: 11px; line-height: 14px; }
.sliderSpecs input { float: left; width: auto!important; background: none!important; border: 0!important; font-weight: bold; color: #3a6fa5; padding: 0!important; box-shadow: none!important; }


.moreFields ul li { float: left; width: 8%; margin: 0; }
.moreFields ul li input { width: 98%!important; }
.moreFields ul li.sep { padding: 3px 6px 3px 5px; display: block; margin: 0; width: auto; color: #d5d5d5; }
.moreFields ul li span { display: block; padding: 3px 12px; white-space: nowrap; }

.itemDisabled { color: #5c5c5c; }

.rowElem { clear: both; padding: 10px 16px; position: relative; background: url(../images/linesSep.png) repeat-x 0 0; }

.formRight { float: right; width: 76%; margin: 13px 0; display: block; position: relative; }
.formRight label, .loginRow label { cursor: pointer; }
.formBottom { /*width: 688px;*/ margin: 12px 12px 12px 0; }
.rowElem > label { padding: 16px 0; width: 14%; }
.rowElem .topLabel { padding: 5px 12px 12px 0; width: 100%; }

#valid input { position: relative; }



/* ===== Form styling ===== */  

.mainForm input[type=text], .mainForm textarea, .mainForm input[type=password] { background: #25292b; width: 100%; padding: 6px 5px; font-size: 11px; font-family: Arial, Helvetica, sans-serif; color: #d5d5d5; border: 1px solid #1e2226; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
-moz-box-shadow: 0 1px 0 #363B3E; 
-webkit-box-shadow: 0 1px 0 #363B3E; 
box-shadow: 0 1px 0 #363B3E; 
 }
.mainForm input[type=text]:hover, .mainForm input[type=password]:hover, .mainForm textarea:hover { background: #24282a; }
.mainForm input[type=text]:focus, .mainForm input[type=password]:focus, .mainForm textarea:focus { border: 1px solid #1a1f23 ; background: #24282a; }

.submitForm { float: right; margin: 1px 16px 0 16px; }


/* Select */

div.selector { position: relative; height: 26px; background: url(../images/forms/select_left.png) no-repeat top left; float: left; width: 190px; position: relative; padding-left: 10px; -moz-box-shadow: 0 1px 0 #363B3E;
-webkit-box-shadow: 0 1px 0 #363B3E; box-shadow: 0 1px 0 #363B3E; }
div.selector select { width: 200px; cursor: pointer; font-size: 12px; position: absolute; height: 26px; top: 0; left: 0; }
div.selector span { /*padding-right: 32px;*/ width: 190px; cursor: pointer; position: absolute; right: 0; height: 26px; background: url(../images/forms/select_right.png) no-repeat center right; top: 0; line-height: 26px; font-size: 11px; }

.dataTables_length div.selector { width: 45px; float: left; height: 22px; background: url(../images/forms/select_left_datatable.png) no-repeat top left; padding-left: 8px; }
.dataTables_length div.selector span { width: 45px; height: 22px; background: url(../images/forms/select_right_datatable.png) no-repeat center right; line-height: 22px; }
.dataTables_length div.selector select { width: 65px; left: -5px; height: 22px; }


/* Checker */

div.checker { width: 15px; height: 15px; position: relative; float: left; margin-top: 6px; }
div.checker input { width: 15px; height: 15px; opacity: 0; filter: alpha(opacity:0); display: inline-block; background: none; }
div.checker span { background: transparent url(../images/forms/checkbox.png) no-repeat 0 0px ; vertical-align: middle; height: 15px; width: 15px; display: -moz-inline-box; display: inline-block; text-align: center; }
div.checker span.checked { background-position: center -16px; }


/* Radio */

div.radio { width: 18px; height: 18px; position: relative; float: left; margin-top: 5px; }
div.radio input { opacity: 0; filter: alpha(opacity:0); text-align: center; display: inline-block; background: none; width: 18px; height: 18px; }
div.radio span { background: transparent url(../images/forms/radio.png) no-repeat 0 0; vertical-align: middle; height: 15px; width: 15px; display: block; display: -moz-inline-box; display: inline-block; text-align: center; }
div.radio span.checked { background-position: center -16px; }


/* ===== File uploader ===== */

div.uploader { width: 240px; position: relative; overflow: hidden; border: 1px solid #1E2226; background: #25292B; padding: 2px 2px 2px 8px; -moz-box-shadow: 0 1px 0 #363B3E; -webkit-box-shadow: 0 1px 0 #363B3E; box-shadow: 0 1px 0 #363B3E; }
div.uploader span.action { width: 22px; background: url(../images/addFiles.png) no-repeat 0 0; height: 22px; font-size: 11px; font-weight: bold; cursor: pointer; float: right; text-indent: -9999px; display: inline; overflow: hidden; cursor: pointer; }
div.uploader:hover span.action { background-position: 0 -27px; }
div.uploader:active span.action { background-position: 0 -54px; }
div.uploader span.filename { color: #777; max-width: 200px; font-size: 11px; line-height: 22px; float: left; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: default; }
div.uploader input { width: 266px; opacity: 0; filter: alpha(opacity:0); position: absolute; top: 0; right: 0; bottom: 0; float: right; height: 26px; border: none; cursor: pointer; }
.uploader { display: -moz-inline-box; display: inline-block; vertical-align: middle; zoom: 1; *display: inline; }




/* ===== List styles ===== */

.list {  }
.list .legend { display: block; font-weight: bold; padding-bottom: 4px; }
.list ul li { padding: 0 0 0 15px; }

.plusBlue li { background: url(../images/icons/lists/plusBlue.png) no-repeat 0 7px; }
.plusRed li { background: url(../images/icons/lists/plusRed.png) no-repeat 0 7px; }
.plusGrey li { background: url(../images/icons/lists/plusGrey.png) no-repeat 0 7px; }
.plusGreen li { background: url(../images/icons/lists/plusGreen.png) no-repeat 0 7px; }

.tipBlue ul li { background: url(../images/icons/lists/tipBlue.png) no-repeat 0 6px; }
.tipRed ul li { background: url(../images/icons/lists/tipRed.png) no-repeat 0 6px; }
.tipGrey ul li { background: url(../images/icons/lists/tipGrey.png) no-repeat 0 6px; }
.tipGreen ul li { background: url(../images/icons/lists/tipGreen.png) no-repeat 0 6px; }

.arrowBlue ul li { background: url(../images/icons/lists/arrowBlue.png) no-repeat 1px 6px; }
.arrowRed ul li { background: url(../images/icons/lists/arrowRed.png) no-repeat 1px 6px; }
.arrowGrey ul li { background: url(../images/icons/lists/arrowGrey.png) no-repeat 1px 6px; }
.arrowGreen ul li { background: url(../images/icons/lists/arrowGreen.png) no-repeat 1px 6px; }

.arrow2Blue ul li { background: url(../images/icons/lists/arrow2Blue.png) no-repeat 1px 6px; }
.arrow2Red ul li { background: url(../images/icons/lists/arrow2Red.png) no-repeat 1px 6px; }
.arrow2Grey ul li { background: url(../images/icons/lists/arrow2Grey.png) no-repeat 1px 6px; }
.arrow2Green ul li { background: url(../images/icons/lists/arrow2Green.png) no-repeat 1px 6px; }



/* ===== Tooltip ===== */

.tipsy { padding: 4px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(../images/tipsy.gif); }
.tipsy-inner { padding: 2px 8px 2px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }



/* ===== Notification messages ===== */

.nNote { cursor: pointer; clear: both; margin: 20px 0px 20px 0px; }
.nNote strong { margin-right: 5px; }
.nNote p { font-size: 11px; padding: 10px 25px 10px 54px; margin: 0px; color: #565656; }
.nMessage p { font-size: 11px; }
.nWarning { background: #ffe9ad url(../images/icons/notifications/error.png) no-repeat 15px center; border: 1px solid #eac572; color: #826200; }
.nSuccess { background: #effeb9 url(../images/icons/notifications/accept.png) no-repeat 15px center; border: 1px solid #c1d779; color: #3C5A01; }
.nFailure { background: #fccac1 url(../images/icons/notifications/exclamation.png) no-repeat 15px center; border: 1px solid #e18b7c; color: #AC260F; }
.nInformation { background: #d1e4f3 url(../images/icons/notifications/information.png) no-repeat 15px center; border: 1px solid #99c4ea; color: #235685; }
.nLightbulb { background: #FEF0CB url(../images/icons/notifications/lightbulb.png) no-repeat 15px center; border: 1px solid #D3A350; color: #835F21; }
.nMessages { background: #9DDFFF url(../images/icons/notifications/email.png) no-repeat 15px center; border: 1px solid #42B4FF; color: #835F21; }



/* ===== Dynamic table headers ===== */

.table { margin-top: 40px; border: 1px solid #272C30; border-top: none; }
.headTitle { background: #efefef url(../images/leftNavBg.png) repeat-x; height: 37px; border-bottom: 1px solid #d5d5d5; }



/* ===== Spinner ===== */

.ui-spinner { width: 10em; display: block; position: relative; overflow: hidden; background: #25292B; height: 26px; padding: 0 6px; border: 1px solid #1E2226; 
-moz-box-shadow: 0 1px 0 #363B3E; 
-webkit-box-shadow: 0 1px 0 #363B3E; 
box-shadow: 0 1px 0 #363B3E; 
}
.ui-spinner-disabled { background: #F4F4F4; color: #CCC; }
.ui-spinner input.ui-spinner-box { border: none!important; background: none!important; padding: 6px 0; }
.ui-spinner-up, .ui-spinner-down { width: 18px; padding: 0; margin: 0; z-index: 100; position: absolute; right: 0; cursor: pointer; border: none; box-shadow: none; }
.ui-spinner-up { background: url(../images/forms/spinnerTop.png) no-repeat; height: 13px; top: 0; }
.ui-spinner-down { height: 12px; bottom: 0px; background: url(../images/forms/spinnerBottom.png) no-repeat }
.ui-spinner-pressed {  }
.ui-spinner-list, .ui-spinner-listitem { margin: 0; padding: 0; font-size: 11px; }
.ui-spinner ul li, .ui-spinner-data { line-height: 25px; height: 25px; }



/* ===== Growl notifications ===== */

div.jGrowl { z-index: 9999; color: #fff; font-size: 12px; }
div.ie6.top-right { 
	right: 				auto;
	bottom: 			auto;
	left: 				expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: 				expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div.ie6.top-left {
	left: 				expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: 				expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div.ie6.bottom-right {
	left: 				expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: 				expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div.ie6.bottom-left {
	left: 				expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: 				expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div.ie6.center {
	left: 				expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: 				expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
	width: 				100%;
}

/** Normal Style Positions **/
div.jGrowl { position: absolute; }
body > div.jGrowl { position: fixed; }
div.jGrowl.top-left { left: 0px; top: 0px; }
div.jGrowl.top-right { right: 0px; top: 36px; }
div.jGrowl.bottom-left { left: 0px; bottom: 0px; }
div.jGrowl.bottom-right { right: 0px; bottom: 0px; }
div.jGrowl.center { top: 0px; width: 50%; left: 25%; }

/** Cross Browser Styling **/
div.center div.jGrowl-notification, div.center div.jGrowl-closer { margin-left: auto; margin-right: auto; }
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
background-color: black;
opacity: .85;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
zoom: 1;
width: 235px;
padding: 10px;
margin-top: 5px;
margin-bottom: 5px;
font-family: Tahoma,Arial,Helvetica,sans-serif;
font-size: 1em;
text-align: left;
display: none;
}

div.jGrowl div.jGrowl-notification { min-height: 40px; }
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer { margin: 10px; }
div.jGrowl div.jGrowl-notification div.jGrowl-header { font-weight: bold; font-size: .85em; }
div.jGrowl div.jGrowl-notification div.jGrowl-close { z-index: 99; float: right; font-weight: bold; font-size: 1em; cursor: pointer; }
div.jGrowl div.jGrowl-closer { padding-top: 4px; padding-bottom: 4px; cursor: pointer; font-size: .9em; font-weight: bold; text-align: center; }

/** Hide jGrowl when printing **/
@media print { div.jGrowl { display: none; } }



/* ===== Page scrolling ===== */

#toTop { display:none; text-decoration:none; position:fixed; bottom:10px; right:10px; overflow:hidden; width:21px; height:21px; border:none; text-indent:-999px; background:url(../images/ui.totop.png) no-repeat left top; }
#toTopHover { background:url(../images/ui.totop.png) no-repeat left -22px; width:21px; height:21px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
#toTop:active, #toTop:focus { outline:none; }



/* ===== Contact list ===== */

.listNav { margin:0 0 10px; }

.ln-letters { overflow: hidden; width: 100%; text-align: center; }
.ln-letters a { font-size: 11px; display: inline-block; padding: 4px 1%; border-left: 1px solid #2A2E34;  text-decoration: none; background: url(../images/titleBg.png) repeat-x; }

ul.listData { float: right; text-align: right; margin-top: -1px; font-size: 11px; }
ul.listData li { display: inline-block; padding: 0 6px 1px 6px!important; border: none!important; margin-left: 6px }
.listData .cNote { background: url(../images/darkBg.png) repeat; display: block; padding: 0 6px 1px 6px; border: 1px solid #24272B; color: #878787; margin-top: 1px; }

.ln-letters a.ln-last { padding: 4px 11px 4px 12px; }
.ln-letters a:first-child { border-left: none; }
.ln-letters a:hover,
.ln-letters a.ln-selected { background-position: 0 -39px; }
.ln-letters a.ln-disabled { color: #6a6a6a; }
.ln-letter-count { text-align:center; font-size:0.8em; line-height:1; margin-bottom:3px; color: #336699; }

#myList > li { padding: 8px 0 8px 12px; background: url(../images/linesSep.png) repeat-x 0 0; }
#myList > li:hover { background-color: #2c3032; }
#myList > li:first-child { padding-top: 8px; }



/* ===== PRE tag styles ===== */

.SRC_Wrap { height:auto; font-size:12px; }
.SRC_Title {  text-align:center; color:#555; border-bottom:2px solid #999; font-size:14px; font-family:Verdana, Geneva, sans-serif; padding:5px; font-weight:700; }
.SRC_Line { width:100%; background: ; min-height:28px; line-height: 28px; border-top: 1px solid #3B4144 }
.SRC_Line:nth-child(even) { background: url(../images/darkerBg.png) repeat; }
.SRC_NumBox { width:5%; float:left; }
.SRC_Num { font-family: Verdana, Geneva, sans-serif; font-size: 12px; text-align:right; color:#555; font-weight:500; padding-right:2px; width:100%; height:auto; min-height:28px; line-height:28px; }
.SRC_CodeContent { white-space: pre-wrap; border-left:1px solid #3B4144; font-size:12px; padding-left:6px; font-family:"Courier New", Courier, monospace; margin:0px; min-height:28px; line-height:28px; }
.SRC_NumContent { text-align:right; margin-right:4px; color:#555; }
.SRC_CodeBox { float:left; width:95%; }

.SC_blue { color: #93beee; }
.SC_grey { color: #b8b8b8; }
.SC_navy { color: #7b96b4; }
.SC_green { color: #7ac189; }
.SC_orange { color: #d19950; }
.SC_red { color: #dc9090; }
.SC_teal { color: #54c1c2; }
.SC_gold { color: #d2c05b; }
.SC_pink { color: #ff68a4; }
.SC_bold { font-weight: 700; }



/* ===== Breadcrumbs ===== */

.module:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
* html .module { height: 1%; overflow: visible; }
* + html .module { min-height: 1%; }

.breadCrumb { padding: 0; float: left; display: block; height: 21px; overflow: hidden; width: 100%; padding: 5px;  }
.breadCrumb ul { margin: 0; padding: 0; height: 21px; display: block; }
.breadCrumb ul li { display: block; float: left; position: relative; height: 21px; overflow: hidden; line-height: 21px; margin: 0px 6px 0px 0; padding: 0px 14px 0px 4px; font-size: .9167em; background: url(../images/Chevron.gif) no-repeat 100%; }
.breadCrumb ul li div.chevronOverlay { position: absolute; right: 0; top: 0; z-index: 2; }
.breadCrumb ul li span { display: block; overflow: hidden; }
.breadCrumb ul li a { display: block; position: relative; height: 21px; line-height: 21px; overflow: hidden; float: left; }
.breadCrumb ul li.firstB a { height: 16px !important; text-indent:-1000em; width:16px; padding: 0; margin-top: 2px; overflow: hidden; background:url(../images/IconHome.gif) no-repeat 0 0; }
.breadCrumb ul li.firstB a:hover { background-position: 0 -16px; }
.breadCrumb ul li.lastB { background: none; margin-right: 0; padding-right: 0; }

.breadCrumbHolder.module { border: solid 1px #1E2226; background: #25292B; margin-top: 20px; border-image: initial; }

.chevronOverlay { display: none; background: url(../images/ChevronOverlay.png) no-repeat 100%; width: 13px; height: 20px; }



/* ===== Form validation ===== */

.inputContainer { position: relative; float: left; }
.formError { position: absolute; top: 300px; left: 300px; display: block; z-index: 500; cursor: pointer; }
.ajaxSubmit { padding: 20px; background: #55ea55; border: 1px solid #999; display: none; }

.formError .formErrorContent { background: #202020; position:relative; z-index:5001; color: #fff; width: 160px; font-size: 11px; border: 1px solid #202020; padding: 4px 10px 4px 10px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.greenPopup .formErrorContent { background: #33be40; }
.blackPopup .formErrorContent { background: #393939; color: #FFF; }
.formError .formErrorArrow { width: 15px; margin: -2px 0 0 13px;  position:relative; z-index: 5006; }
.formError .formErrorArrowBottom { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; margin: 0px 0 0 12px; top:2px; }
.formError .formErrorArrow div { font-size: 0px; height: 1px; background: #202020; margin: 0 auto; line-height: 0; font-size: 0; display: block; }
.formError .formErrorArrowBottom div {  box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }

.greenPopup .formErrorArrow div { background: #33be40; }
.blackPopup .formErrorArrow div { background: #393939; color: #FFF; }

.formError .formErrorArrow .line10 { width: 15px; border: none; }
.formError .formErrorArrow .line9 { width: 13px; border: none; }
.formError .formErrorArrow .line8 { width: 11px; }
.formError .formErrorArrow .line7 { width: 9px; }
.formError .formErrorArrow .line6 { width: 7px; }
.formError .formErrorArrow .line5 { width: 5px; }
.formError .formErrorArrow .line4 { width: 3px; }
.formError .formErrorArrow .line3 { width: 1px; }
.formError .formErrorArrow .line2 { width: 0; }
.formError .formErrorArrow .line1 { width: 0; }



/* ===== Color picker ===== */

.colorpicker { 	width: 356px; height: 176px; overflow: hidden; position: absolute; background: url(../images/colorPicker/colorpicker_background.png); font-family: Arial, Helvetica, sans-serif; display: none; }
.colorpicker_color { width: 150px; height: 150px; left: 14px; top: 13px; position: absolute; background: #f00; overflow: hidden; cursor: crosshair; }
.colorpicker_color div { position: absolute; top: 0; left: 0; width: 150px; height: 150px; background: url(../images/colorPicker/colorpicker_overlay.png); }
.colorpicker_color div div { position: absolute; top: 0; left: 0; width: 11px; height: 11px; overflow: hidden; background: url(../images/colorPicker/colorpicker_select.gif); margin: -5px 0 0 -5px; }
.colorpicker_hue { position: absolute; top: 13px; left: 171px; width: 35px;	height: 150px; cursor: n-resize; }
.colorpicker_hue div { position: absolute; width: 35px; height: 9px; overflow: hidden; background: url(../images/colorPicker/colorpicker_indic.gif) left top; margin: -4px 0 0 0; left: 0px; }
.colorpicker_new_color { position: absolute; width: 60px; height: 30px; left: 213px; top: 13px; background: #f00; }
.colorpicker_current_color { position: absolute; width: 60px; height: 30px; left: 283px; top: 13px; background: #f00; }
.colorpicker input { background-color: transparent; border: 1px solid transparent; position: absolute; font-size: 10px; font-family: Arial, Helvetica, sans-serif; color: #898989; top: 4px; right: 11px; text-align: right; margin: 0; padding: 0; height: 11px; }
.colorpicker_hex { position: absolute;  width: 72px; height: 22px; background: url(../images/colorPicker/colorpicker_hex.png) top; left: 212px; top: 142px; }
.colorpicker_hex input { right: 6px; }

.colorpicker_field { height: 22px; width: 62px; background-position: top; position: absolute; }
.colorpicker_field span { position: absolute; width: 12px; height: 22px; overflow: hidden; top: 0; right: 0; cursor: n-resize; }

.colorpicker_rgb_r { background-image: url(../images/colorPicker/colorpicker_rgb_r.png); top: 52px; left: 212px; }
.colorpicker_rgb_g { background-image: url(../images/colorPicker/colorpicker_rgb_g.png); top: 82px; left: 212px; }
.colorpicker_rgb_b { background-image: url(../images/colorPicker/colorpicker_rgb_b.png); top: 112px; left: 212px; }

.colorpicker_hsb_h { background-image: url(../images/colorPicker/colorpicker_hsb_h.png); top: 52px; left: 282px; }
.colorpicker_hsb_s { background-image: url(../images/colorPicker/colorpicker_hsb_s.png); top: 82px; left: 282px; }
.colorpicker_hsb_b { background-image: url(../images/colorPicker/colorpicker_hsb_b.png); top: 112px; left: 282px; }

.colorpicker_submit { position: absolute; width: 22px; height: 22px; background: url(../images/colorPicker/colorpicker_submit.png) top; left: 322px; top: 142px; overflow: hidden; }
.colorpicker_focus { background-position: center; }
.colorpicker_hex.colorpicker_focus { background-position: bottom; }
.colorpicker_submit.colorpicker_focus { background-position: bottom; }
.colorpicker_slider { background-position: bottom; }

#colorSelector { position: relative; width: 36px; height: 36px; background: url(../images/colorPicker/select.png); }
#colorSelector div { position: absolute; top: 3px; left: 3px; width: 30px; height: 30px; background: url(../images/colorPicker/select.png) center; }
#colorSelector2 { position: absolute; top: 0; left: 0; width: 36px; height: 36px; background: url(../images/colorPicker/select2.png); }
#colorSelector2 div { position: absolute; top: 4px; left: 4px; width: 28px; height: 28px; background: url(../images/colorPicker/select2.png) center; }
#colorpickerHolder2 { top: 32px; left: 0; width: 356px; height: 0; overflow: hidden; position: absolute; }
#colorpickerHolder2 .colorpicker { background-image: url(../images/colorPicker/custom_background.png); position: absolute; bottom: 0; left: 0; }
#colorpickerHolder2 .colorpicker_hue div { background-image: url(../images/colorPicker/custom_indic.gif); }
#colorpickerHolder2 .colorpicker_hex { background-image: url(../images/colorPicker/custom_hex.png); }
#colorpickerHolder2 .colorpicker_rgb_r { background-image: url(../images/colorPicker/custom_rgb_r.png); }
#colorpickerHolder2 .colorpicker_rgb_g { background-image: url(../images/colorPicker/custom_rgb_g.png); }
#colorpickerHolder2 .colorpicker_rgb_b { background-image: url(../images/colorPicker/custom_rgb_b.png); }
#colorpickerHolder2 .colorpicker_hsb_s { background-image: url(../images/colorPicker/custom_hsb_s.png); display: none; }
#colorpickerHolder2 .colorpicker_hsb_h { background-image: url(../images/colorPicker/custom_hsb_h.png); display: none; }
#colorpickerHolder2 .colorpicker_hsb_b { background-image: url(../images/colorPicker/custom_hsb_b.png); display: none; }
#colorpickerHolder2 .colorpicker_submit { background-image: url(../images/colorPicker/custom_submit.png); }
#colorpickerHolder2 .colorpicker input { color: #778398; }
#customWidget { position: relative; height: 36px; }



#popup_container { min-width: 300px; max-width: 600px; background: url(../images/alertOpacityOverlay.png) repeat; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#popup_title { text-align: center; background: url(../images/leftNavBg.png) repeat-x; border-bottom: 1px solid #d5d5d5; cursor: default; padding: 9px 0 9px 0px; margin: 0em; height: 20px; color: #424242; }
#popup_content { background: #fafafa; padding: 1em 1.75em; margin: 0em; }
#popup_message { text-align: center; color: #424242; }
#popup_panel { text-align: center; margin: 1em 0em 0em 0em; }
#popup_message input[type=text] { background: #FCFCFC; border: 1px solid #D1D1D1; padding: 5px; width: 258px; }
#popup_prompt { margin: .5em 0em; }




/* ===== Error pages  ===== */

.errorPage { width: 370px; margin: 100px auto 80px auto; position: relative; }
.errorPage .errorTitle, .weAreOff { background: url(../images/linesSepLight.png) repeat-x 0 100%; width: 290px; padding-bottom: 15px; }
.weAreOff { width: 100% }
.errorPage h1 { color: #fafafa; font-size: 140px; margin: 80px 0; position: relative; padding-left: 10px; }
.errorPage h2 { font-size: 22px; font-weight: normal;  }
.errorPage h2 span { background: url(../images/sadEmo.png) no-repeat 0; padding-left: 26px; }
.errorPage .bubbles { position: absolute; background: url(../images/error.png) no-repeat 0 0; width: 138px; height: 133px; top: -10px; left: 225px; }
.errorPage p { width: 100%; padding: 15px 0 13px 0; background: url(../images/linesSepLight.png) repeat-x 0 0; font-size: 20px; text-align: center; }
.backToDash { text-align: center; margin: 10px; }



/* ===== File uploader  ===== */

.plupload_button { font-size: 10px; font-weight: bold; text-transform: uppercase; color: #fff; line-height: 12px; margin-top: 3px; }

.plupload_start { float: left; background: url(../images/ui/greenBtn.png) repeat-x 0 0; border: 1px solid #292d2f; color: #fff; }
.plupload_start span { background: url(../images/upload.png) no-repeat 10px; padding: 6px 13px 6px 26px; display: block;  }
.plupload_start:hover { background-position: 0 -27px; }
.plupload_start:active { background-position: 0 -54px; }

.plupload_disabled, a.plupload_disabled:hover { color: #a6a6a6; border: 1px solid #2e3337; background: #32373b; cursor: default; }
.plupload_disabled span { padding: 5px 13px 6px 13px; background-image: none!important; }

.plupload_add { margin-right: 15px; background: url(../images/ui/basicBtn.png) repeat-x 0 0; float: left; border: 1px solid #292d2f; color: #fff; }
.plupload_add span { background: url(../images/add.png) no-repeat 10px; padding: 6px 13px 6px 26px; display: block; }
.plupload_add:hover { background-position: 0 -27px; }
.plupload_add:active { background-position: 0 -54px; }

.plupload_wrapper { font-size: 11px;; width: 100%; }

.plupload_container {  }
.plupload_container input { border: 1px solid #DDD; font-size: 11px; width: 98%; }

.plupload_filelist { margin: 0; padding: 0; list-style: none; }
.plupload_scroll .plupload_filelist { height: 185px; background: url(../images/widgetBg.png) repeat; overflow-y: auto; }
.plupload_filelist li { padding: 10px 12px; background: url(../images/widgetBg.png) repeat; border-bottom: 1px solid #343a3d; }
.plupload_filelist li:nth-child(even) { background: url(../images/darkerBg.png) repeat; }
.plupload_filelist li:hover { background: ; }

.plupload_filelist_header { background: url(../images/darkerBg.png) repeat-x 0 1px; padding: 3px 12px; color: #54585D; }

.plupload_filelist_footer { background: url(../images/titleBg.png) repeat-x; padding: 3px 12px; color: #878787; }
.plupload_filelist_header {	border-bottom: 1px solid #363b3e; }

.plupload_filelist_footer { border-top: 1px solid #3B4144; height: 31px; line-height: 30px; vertical-align: middle; } 
.plupload_file_name { float: left; overflow: hidden; }
.plupload_file_status {  }
.plupload_total_status { color: #878787!important }
.plupload_file_status span { color: #54585D; }
.plupload_file_size, .plupload_file_status, .plupload_progress { float: right; width: 80px; }
.plupload_file_size, .plupload_file_status, .plupload_file_action { text-align: right; }
.plupload_filelist .plupload_file_name { width: 205px; }
.plupload_file_action { float: right; width: 14px; margin-top: 3px; height: 14px; margin-left: 30px; }
.plupload_file_action * { display: none; width: 14px; height: 14px; }

li.plupload_uploading {  }
li.plupload_done { color: #AAA; }
li.plupload_delete a { background: url(../images/uploader/deleteFile.png) no-repeat 0; }
li.plupload_failed a { background: url(../images/uploader/error.png) no-repeat 0; cursor: default; }
li.plupload_done a { background: url(../images/uploader/uploaded.png) no-repeat 0; cursor: default; }

.plupload_progress, .plupload_upload_status { display: none; }
.plupload_progress_container { margin-top: 10px; border: 1px solid #CCC; background: #FFF; padding: 1px; }
.plupload_progress_bar { width: 0px; height: 7px; background: #CDEB8B; }
.plupload_scroll .plupload_filelist_header .plupload_file_action, .plupload_scroll .plupload_filelist_footer .plupload_file_action { /*margin-right: 17px;*/ }

/* Floats */

.plupload_clear,.plupload_clearer { clear: both; }
.plupload_clearer, .plupload_progress_bar { display: block; font-size: 0; line-height: 0; }

li.plupload_droptext { background: transparent; text-align: center; vertical-align: middle; border: 0; line-height: 165px; }



/* ===== Wizard  ===== */

.swMain { position:relative; }
.swMain .stepContainer { display:block; position: relative; overflow:hidden; clear:both; }
.swMain .stepContainer div.wContent { display:block; position: absolute; float:left; margin: 0; text-align:left; overflow:visible; z-index:88; clear:both; width: 100%; }
.swMain .stepContainer div.wContent p { padding: 12px; }

.swMain div.actionBar { display:block; position: relative; clear:both; padding: 0; color: #5A5655; height: 41px; text-align:left; overflow:auto; z-index:88; left:0; background: url(../images/darkBg.png) repeat; border-top: 1px solid #363b3e; }
.actionBar a.button { box-shadow: none; }
.swMain .stepContainer .StepTitle { display:block; position: relative; margin:0; border:1px solid #E0E0E0; padding:5px; font: bold 16px Verdana, Arial, Helvetica, sans-serif; color:#5A5655; clear:both; text-align:left; z-index:88; }

.swMain ul.anchor { position: relative; display:block; float:left; list-style: none; padding: 0px; clear: both; border-top: 1px solid #24272B; border-bottom: 1px solid #24272B; width: 100%; }
.swMain ul.anchor li { position: relative; display: block; margin: 0; padding: 0; width: 25%; float: left; }
.swMain ul.anchor li:first-child a { border-left: none; }
.swMain ul.anchor li a { display:block; position:relative; float:left; margin:0; height:38px; width:100%; text-decoration: none; outline-style:none; z-index:99; cursor: pointer; background: url(../images/titleBg.png) repeat-x 0 0; border-left: 1px solid #2A2E34; }
.swMain ul.anchor li a .stepNumber { position:relative; float:left; width:30px; text-align: center; padding:5px; padding-top:0; }
.swMain ul.anchor li a .stepDesc { position:relative; display:block; float:left; text-align: left; padding: 8px 12px 8px 35px; white-space: nowrap; }
.swMain ul.anchor li a.selected { color:#F8F8F8; background: url(../images/titleBg.png) repeat-x 0 -39px; }
.swMain ul.anchor li a.selected:hover { color:#F8F8F8; }
.swMain ul.anchor li a.done { position:relative; color:#FFF; z-index:99; background: url(../images/titleBg.png) repeat-x 0 -156px; }
.swMain ul.anchor li a.done:hover { color:#5A5655; }
.swMain ul.anchor li a.disabled { color:#CCCCCC; cursor: text; }
.swMain ul.anchor li a.disabled:hover { color:#CCCCCC; }
.swMain ul.anchor li a.error { color:#6c6c6c !important; border: 1px solid #fb3500 !important; }
.swMain ul.anchor li a.error:hover { color:#000 !important; }

.swMain .buttonNext { display:block; float:right; margin: 8px 12px 0 12px; padding: 6px 12px; }
.swMain .buttonDisabled { color: #585858!important; cursor: text; background: #202020!important; border: none; margin-top: 9px!important; }
.swMain .buttonPrevious { display:block; float:right; margin: 8px 0px 0 0px; padding: 6px 12px; }
.swMain .buttonFinish { display:block; float:right; margin: 8px 12px 0 0px; padding: 6px 12px; }

/* Form Styles */
.txtBox { border:1px solid #CCCCCC; color:#5A5655; padding:2px; width:430px; }
.txtBox:focus { border:1px solid #EA8511; }

.swMain .loader { position:relative; display:none; float:left; margin: 2px 0 0 2px; padding:8px 10px 8px 40px; border: 1px solid #FFD700; color:#5A5655; background: #FFF url(../images/loaders/loader.gif) no-repeat 5px; z-index:998; }
.swMain .msgBox { position:relative; display:none; float:left; margin: 4px 0 0 5px; padding:5px; border: 1px solid #FFD700; background-color: #FFFFDD; color:#5A5655; z-index:999; min-width:200px; }
.swMain .msgBox .content { padding: 0px; float:left; }
.swMain .msgBox .close { color: #CCC; display: block; float: right; margin: 0 0 0 5px; outline-style: none; padding: 0 2px 0 2px; position: relative; text-align: center; text-decoration: none; }
.swMain .msgBox .close:hover{ color: #EA8511; border: 1px solid #EA8511; }

.curves { display: block; background: url(../images/linesSepCurves.png) repeat-x 0 100%; height: 8px; clear: both; }
.contentHead { padding: 16px 12px 15px 35px; }



/* ===== Timepicker  ===== */

.timepicker { width: 60px!important; }
.timeEntry_control { vertical-align: middle; margin-left: -1px; margin-top: -2px; cursor: pointer; -moz-box-shadow: 0 1px 0 #363B3E; -webkit-box-shadow: 0 1px 0 #363B3E; box-shadow: 0 1px 0 #363B3E; }
* html .timeEntry_control { margin-top: -4px; }



/* =====  Dual select boxes  ===== */

.dualBoxes { padding: 22px 14px; position: relative; }

.dualBtn { padding: 7px 8px; cursor: pointer; line-height: 12px; background: url(../images/ui/basicBtn.png) repeat-x 0 0; border: 1px solid #1E2226; color: #d5d5d5; margin-left: -1px; -moz-box-shadow: 0 1px 0 #363B3E; -webkit-box-shadow: 0 1px 0 #363B3E; box-shadow: 0 1px 0 #363B3E;  }
.dualBtn:hover { background-position: 0 -27px; }
.dualBtn:active { background-position: 0 -54px; }

.fltr { position: absolute; right: 0; }

.boxFilter { margin-bottom: 15px; } 
.dualControl { text-align: center; width: 90px; margin: 150px 1px; position: absolute; left: 50%; margin-left: -45px; } 
.countLabel { color:Gray; font-style:italic; margin-top: 10px; display: block; }
.storageBox { display:none; }
.copiedOption { background-color: Yellow; }


/* =====  Single file input  ===== */

.feat { margin-left: 5px; background: url(../images/forms/fileUpload.png) no-repeat 0 0; width: 91px; height: 29px; margin-top: -1px; }
.feat:hover { background-position: 0 -29px; }
.feat:active { background-position: 0 -58px; }
.fileInput { background: #24282A; border: 1px solid #1E2226; padding: 5px; font-size: 11px; font-family: Arial, Helvetica, sans-serif; -moz-box-shadow: 0 1px 0 #363B3E; -webkit-box-shadow: 0 1px 0 #363B3E; box-shadow: 0 1px 0 #363B3E; color: #d5d5d5; }
.fileInput:hover { background: #24282a; }
.fileInput:focus { border: 1px solid #1a1f23; background: #24282a; }



/* =====  Wizard with form validation  ===== */

.step { position: relative; }
.step label.error { color: #a9a9a9; padding-left: 0; font-size: 11px; white-space: nowrap; }
.selector .error { position: absolute; right: -114px; }
.step h5 { position: absolute; left: 12px; top: -30px; }
.wizNav { padding: 14px 16px; background: url(../images/linesSep.png) repeat-x 0 0; text-align: right; }
.wizNav input { margin-left: 10px; }
.wizNav input[disabled] { background: #24282a; -webkit-box-shadow: 0 0 2px #545454; -moz-box-shadow: 0 0 2px #545454; border: 1px solid #212428; color: #454a53; }



/* ===== Chosen multiple select plugin with dropdown ===== */

.chzn-container { position: relative; display: inline-block; zoom: 1; *display: inline; -moz-box-shadow: 0 1px 0 #363B3E;
-webkit-box-shadow: 0 1px 0 #363B3E;
box-shadow: 0 1px 0 #363B3E; }

.noSearch .chzn-search, .searchDrop .selector, .noSearch .selector { display: none; }
.noSearch .chzn-results { margin: 0!important; padding: 2px!important; }

.chzn-container > .chzn-drop { background: #25292B; border: 1px solid #1E2226; border-top: 0; position: absolute; top: 29px; margin-top: 2px; left: 0; z-index: 998; width: 100%!important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

.formRight .chzn-container-multi { width: 100%!important; }

.chzn-container-single .chzn-single { background: #25292B; border: 1px solid #1E2226; display: block; overflow: hidden; white-space: nowrap; position: relative; height: 24px; line-height: 25px; padding: 0 0 0 8px; color: #EEE; text-decoration: none; }
.chzn-container-single .chzn-single span { margin-right: 26px; display: block; font-size: 11px; overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; text-overflow: ellipsis; }
.chzn-container-single .chzn-single abbr { display: block; position: absolute; right: 26px; top: 6px; width: 12px; height: 13px; font-size: 1px; }
.chzn-container-single .chzn-single abbr:hover { }
.chzn-container-single .chzn-single div { position: absolute; right: -1px; top: -1px; display: block; height: 28px; width: 27px; }
.chzn-container-single .chzn-single div b { background: url(../images/forms/select_right.png) no-repeat center right; display: block; width: 27px; height: 26px; }
.chzn-container-single .chzn-search { padding: 3px 4px; position: relative; margin: 0; white-space: nowrap; z-index: 1010; }
.chzn-container-single .chzn-search input { margin: 1px 0; padding: 4px 20px 4px 5px; outline: 0; border: 1px solid #aaa; font-family: sans-serif; font-size: 11px; background: url(../images/searchSmall.png) no-repeat 98% !important; box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; }
.chzn-container-single .chzn-drop {}

.chzn-container-single-nosearch .chzn-search input { position: absolute; left: -9000px; }

.chzn-container-multi .chzn-choices {
border: 1px solid #1E2226;
margin: 0;
cursor: text;
overflow: hidden;
height: auto !important;
height: 1%;
position: relative;
font-size: 12px;
padding: 4px;
background: #25292B;
color: #656565;
-moz-box-shadow: 0 1px 0 #363B3E;
-webkit-box-shadow: 0 1px 0 #363B3E;
box-shadow: 0 1px 0 #363B3E;
}
.chzn-container-multi .chzn-choices li { float: left; list-style: none; }
.chzn-container-multi .chzn-choices .search-field { white-space: nowrap; margin: 0; padding: 0; }
.chzn-container-multi .chzn-choices .search-field input { color: #666; background: transparent !important; border: 0 !important; font-family: sans-serif; font-size: 12px!important; padding: 11px 4px 10px 4px!important; margin: 0; outline: 0; box-shadow: none!important; }
.chzn-container-multi .chzn-choices .search-field .default { color: #999; }
.chzn-container-multi .chzn-choices .search-choice { position: relative; line-height: 16px; font-size: 11px; border: 1px solid #A5D24A; display: block; float: left; padding: 5px 24px 5px 8px; background: #CDE69C; color: #638421; margin: 4px; }

.chzn-container-multi .chzn-choices .search-choice-focus { background: #d4d4d4; }
.chzn-container-multi .chzn-choices .search-choice .search-choice-close { display: block; position: absolute; right: 6px; top: 8px; width: 10px; height: 10px; font-size: 1px; background: url(../images/icons/closeSelection.png) 50% no-repeat; }
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close { background-position: right -11px; }

.chzn-container .chzn-results { margin: 0 4px 4px 0; max-height: 240px; padding: 0 0 0 4px; position: relative; overflow-x: hidden; overflow-y: auto; }
.chzn-container-multi .chzn-results { padding: 0; margin: 0; }
.chzn-container .chzn-results li { display: none; line-height: 14px; padding: 5px 6px; margin: 0; list-style: none; font-size: 11px; }
.chzn-container .chzn-results .active-result { cursor: pointer; display: list-item; }
.chzn-container .chzn-results .highlighted { background-color: #3875d7; color: #fff; }
.chzn-container .chzn-results li em { background: #feffde; font-style: normal; }
.chzn-container .chzn-results .highlighted em { background: transparent; }
.chzn-container .chzn-results .no-results { background: #f4f4f4; display: list-item; }
.chzn-container .chzn-results .group-result { cursor: default; color: #CDE69C; font-weight: bold; font-size: 10px; border-bottom: 1px solid #404040; border-top: 1px solid #404040; }
.chzn-container .chzn-results .group-option { padding-left: 15px; }
.chzn-container-multi .chzn-drop .result-selected { display: none; }
.chzn-container .chzn-results-scroll { background: white; margin: 0 4px; position: absolute; text-align: center; width: 321px; /* This should be dynamic with js */ z-index: 1; }
.chzn-container .chzn-results-scroll span { display: inline-block; height: 17px; text-indent: -5000px; width: 9px; }
.chzn-container .chzn-results-scroll-down { bottom: 0; }
.chzn-container .chzn-results-scroll-down span {  }
.chzn-container .chzn-results-scroll-up span {  }

.chzn-container-active .chzn-single-with-drop div { background: transparent; border-left: none; }
.chzn-container-active .chzn-single-with-drop div b {  }
.chzn-container-active .chzn-choices .search-field input { color: #eee !important; }

.chzn-disabled { cursor: default; opacity:0.5 !important; }
.chzn-disabled .chzn-single { cursor: default; }
.chzn-disabled .chzn-choices .search-choice .search-choice-close { cursor: default; }





/* =====  Media queries  ===== */

/* Devices and browsers with max of 799px */
@media only screen and (max-width: 799px) {
	
	.leftNav { float: none; background: url(../images/horSep.png) repeat-x; padding-top: 24px; text-align: center; padding-bottom: 20px; margin: 0; width: 100%; max-width: none; }
	.leftNav ul li { width: 49px; display: inline-block; margin: 0 0 4px 0; position: static; }
	.leftNav ul li a span { text-indent: -9999px; background-position: 16px; }
	.leftNav ul li a { margin-bottom: 2px; }
	
	.numberLeft { display: none!important; }
	.widgets .left { float: none; /*width: 344px;*/ width: 100%; margin-right: 0; }
	.widgets .right { float: none; /*width: 344px;*/ width: 100%; }
	
	#header { text-align: center; height: 100%; margin-bottom: 22px; }
	
	ul.sub { position: absolute; width: 100%; left: 0; z-index: 999; border: 1px solid #232628; }
	ul.sub li { display: block; width: 50%; float: left; margin-bottom: 0; text-align: left; border-bottom: 1px solid #3a3f42; padding: 0; }
	ul.sub li a { padding: 8px 10px 8px 24px; background: url(../images/arrow.gif) no-repeat 12px 16px; }
	ul.sub li a:hover, .sub li a:active { background-position: 12px 16px; }
	ul.sub li:nth-child(even) {  }
	ul.sub li:nth-child(odd) { background: url(../images/tabsSepR.png) repeat-y 100% 0; }
	ul#menu { position: relative; }
	.leftNav .last { border-bottom: 1px solid #3a3f42; }

}

/* Devices and browsers with max of 767px and less than 799px */
@media only screen and (max-width: 767px) {
	
	.stats ul li { display: inline-block; float: none; margin-left: 18px; vertical-align: top; width: 21%; text-align: center; }
	.stats ul { text-align: center; }
	.count { display: inline-block; float: none; padding: 0 15px; text-align: center; margin-bottom: 4px; margin-right: 0; }
	
	.middleNav { float: none; margin-right: 0px; display: block; text-align: center; margin-top: 2px; }
	.middleNav ul {  }
	.middleNav ul li { text-align: center; display: inline-block; float: none; margin-left: 5%; position: relative; }
	.middleNav ul li:first-child { margin-left: 0; }
	
	.logo { float: none; }
	
	.userNav ul li span { display: none; }
	.userNav ul li img { padding: 13px 14px 11px 14px; margin: 0; }
	.userNav ul li ul { right: -3px; left: auto; }
	
	.listData .cNote { display: none; }
	ul.listData li { padding: 0 0 1px 6px!important; }
	
	.rowElem > label { width: 100%; float: none; padding: 8px 0 6px 0; }
	.formRight { width: 100%; margin: 0; padding: 12px 0; float: none; }
	.rowElem .topLabel { padding: 5px 12px 5px 0; }
	
	.fc-header-right { width: 50%; }
	.ln-letters a { padding: 4px 2%; margin-bottom: 1px; }
	
	#eq span { margin-right: 0; margin-left: 30px; }
	#eq span:first-child { margin-left: 5px; }
	
	.formError { left: auto!important; right: 30px; }
	.formErrorContent { width: 140px; }
	
	.formRight div.checker, .formRight div.radio { padding-bottom: 0; padding-top: 0; margin-top: 2px; }
	div.selector { margin-bottom: 10px; }
	.formRight > label { padding-top: 0; }
	.rowElem > label { padding-bottom: 0; }
	.step label.error { padding-top: 3px; }
	
	.userWidget .checker { margin-top: 6px; }

}

/* Devices and browsers with min of 800px and max of 979px */
@media only screen and (min-width: 800px) and (max-width: 979px) {
	
	.leftNav { width: 24%; }
	.formRight { width: 76%; }
	
}
	
/* Mobile Portrait Size */
@media only screen and (min-width: 320px) and (max-width: 479px) {
	
	.logo { float: none; text-align: center; }
	.welcome { display: none; }
	.userNav { float: none; text-align: center; position: relative; }
	.userNav ul { height: 36px; text-align: center; }
	.userNav > ul > li { display: inline-block; float: none; position: static; margin-left: -3px; }
	.userNav ul li ul { height: auto; text-align: left; position: absolute; top: 36px; left: 50%; margin-left: -85px; width: 162px; }
	
	.middleNav ul { text-align: center; }
	.middleNav ul li { text-align: center; display: inline-block; float: none; margin: 0 2%; position: relative; width: 45%; margin-bottom: 10px; }
	.middleNav ul li:first-child { margin: 0 2%; }
	
	.stats ul { text-align: center; }
	.stats ul li { display: inline-block; float: none; margin: 5px; vertical-align: top; width: 46%; text-align: center; }
	.stats ul li:first-child { margin: 5px; }
	.count { display: inline-block; float: none; padding: 0 15px; text-align: center; margin-bottom: 4px; margin-right: 0; width: 75%; }

	.w40 { width: auto; }
	.floatleft, .floatright { float: none; }
	.floatright { margin-top: 95px; }
	.countLabel { text-align: center; }
	.dualControl { text-align: center; width: 90px; margin: 10px 1px; position: absolute; left: 50%; margin-left: -45px; }
	
	.moreFields ul li { width: 11.8%; }
	.moreFields ul li span { display: none; }
	
	.radio, .checker { clear: both; }
		
	input.file.fileInput { width: 148px!important; }
	
	.plupload_file_size, .plupload_file_status, .plupload_progress { width: 11%; }
	.plupload_disabled span { padding: 5px 8px 6px 8px; }
	.plupload_add span { background: url(../images/add.png) no-repeat 10px; padding: 5px 8px 6px 20px; display: block; }
	
	.fc-header-right { width: auto; }
	
	.dataTables_filter input[type="text"] { width: 86px; }
	.dataTables_paginate { float: left; margin: 25px 5px 35px 5px; }	
	.dataTables_paginate .ui-buttonset .ui-button { margin: 0 1px; }
	
	.issueSummary .floatleft { display: none; }
	.ticketInfo { margin-left: 0; }
	
	.breadCrumb { overflow: hidden; height: 100%; }
	
	.pages li { display: inline-block; margin: 4px 2px; }
		
	#popup_container { min-width: 250px; max-width: 300px; }
	
	.el-finder-nav { width: 100px; }
	
	.errorPage { width: auto; }
	.errorPage .bubbles { display: none; }
	.errorPage .errorTitle, .weAreOff { width: auto; }
	.errorPage h1 { padding: 0; text-align: center; }
	
	#myList > li { clear: both; }
	ul.listData { float: left; text-align: center; margin: 3px 0 5px 0; font-size: 11px; }
	ul.listData li { padding: 0; margin: 0 20px 0 -6px; clear: both; }
	
	.displayNone { display: none; }
	
	.pieWidget { width: 100%; height: 250px; margin: 0 auto; }
	
	#header { margin-bottom: 15px; }
	
	table.display thead th div.DataTables_sort_wrapper { overflow: hidden; padding-right: 10px; }
	table.display thead th div.DataTables_sort_wrapper span { display: none; }
	table.display { table-layout: fixed; }
	table.display td { overflow: hidden; }
	.dataTables_length { float: none; margin: 6px auto 0 auto; width: 150px; }
	.dataTables_paginate { float: none; width: 260px; display: inline-block; text-align: center; margin-top: 2px; margin-bottom: 10px; }
	div.dataTables_wrapper .ui-widget-header { background: #3a4043; height: auto; }
	
	.chzn-container { width: 254px!important; }
	.chzn-container-single .chzn-search input { max-width: 218px; }

}
		
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.moreFields ul li { width: 13.4%; }
	.moreFields ul li span { display: none; }	

}

